.App {
  text-align: center;
 
 
}

body {
  background-image: url('./imgs/wynand-van-poortvliet-KQwl5RnZAqg-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;

}

.navBar {
  background-color: rgba(255, 255, 255, 0.295);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  height: 25px;
  
}

/* .navBar .logo {
  
 } */

 .navBar .links {
   display: flex;
   
 }

 .navBar .links a {
   padding: 15px;
   font-size: 20px;
   text-decoration: none;
   color: rgb(109, 109, 109);
   transition: .4s;
 }

 .navBar .links a:hover {
   color: white;
 }

 /* .loginPage {
   display: flex;
   flex-direction: column;
   width: fit-content;
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   margin: 300px;
   
 } */

 .loginPage {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  max-width: 285px;
  background-color: white;
  /* padding: 20px; */
  border-radius: 10px;
  /* margin: 100px 300px; */
  margin: 8.5% 25%;
  position: relative;
}

 .loginTitle {
  text-align: center;
  font-size: 28px;
  color: white;
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #314b11;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

input {
   padding: 14px;
   margin: 20px 0 0 0;
   width: 70%;
   border: solid 1px lightgrey;
   border-radius: 5px;
   position: relative;
   
 }

 input::placeholder {
   font-size: 16px;
 }

 

 .loginButton {
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   margin-top: 20px;
   width: 55%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #314b11;
  color: white;
  transition: .4s;
 }

 .loginButton:hover {
   cursor: pointer;
   background-color: #496e1b;
 }

 .accountText {
  padding-bottom: 20px;
  color: #767676;
  font-size: 14px;
 }

 .accountLink {
   color: #314b11;
   font-weight: bold;
 }

 .accountLink:hover {
  cursor: pointer;
  color: #496e1b;
}

/* PROFILE */
.title {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 5rem;
  
}


.arrowIMG {
  color: white;
 
  
} 



.profileForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.addTrip {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.submitButton {
  margin-top: 25px;
  font-size: 20px;
  height: 40px;
  border-radius: 8px;
  width: 40%;
}

/* EDIT TRIP FORM */

.editTrip {
  width: 100%;
}

.editTrip input {
  width: 100%;
  height: 10px;
}